.body{
  height: 100px;
}
.bg1{
    height: 100vh;
    margin-top: -10px;
    margin-left: -6px;
    margin-right: -7px;
    background-size: 1550px 1000px;
    background-repeat: no-repeat;
    background-image: url("bgfor3.png");
    }
  .box{
    font-weight: 500;
    font-style: italic;
    height: 490px;
    width: 1000px;
    background-color: white;
    border: rgb(255, 255, 255) 5px solid;
    margin-top: -550px;
  }
  .box1{
    font-size: 50px;
    font-weight: bold;
    font-style: italic;
    height: 63px;
    width: 500px;
    border: white 5px solid;
    background-color: white;
  }
  