.bg{
    height: 100vh;
    margin-top: -10px;
    margin-left: -6px;
    margin-right: -7px;
    background-size: 1550px 1000px;
    background-repeat: no-repeat;
    background-image: url("bgfor3.png");
  }
  .rec1{
    margin-top: 250px;
    opacity: 10;
    margin-left: 400px;
    border-radius: 30px 10px;
    height: 60px;
      width: 300px;
      border: 4px solid;
      font-size: 25px;
      font-weight: bold;
      font-style: italic;
      background-color: rgb(147, 147, 147);
  }
  .rec2{
    margin-top: 80px;
    margin-left: 250px;
    border-radius: 30px 10px;
    margin-right: 200px;
    height: 60px;
      width: 300px;
      border: 4px solid;
      font-size: 25px;
      font-weight: bold;
      font-style: italic;
      background-color: rgb(147, 147, 147);
  }
  .rec3{
    margin-top: 80px;
    margin-left: 400px;
    height: 60px;
    border-radius: 30px 10px;
      width: 300px;
      border: 4px solid;
      font-size: 25px;
      font-weight: bold;
      font-style: italic;
      background-color: rgb(147, 147, 147);
  }
  .rec4{
    margin-top: 80px;
    margin-left: 250px;
    border-radius: 30px 10px;
    margin-right: 200px;
    height: 60px;
      width: 300px;
      border: 4px solid;
      font-size: 25px;
      font-weight: bold;
      font-style: italic;
      background-color: rgb(147, 147, 147);
  }
  .allign{
    margin-left: -173px;
  }
  .box3{
    font-size: 40px;
    font-weight: bold;
    font-style: italic;
    height: 63px;
    width: 500px;
    border: rgb(242, 255, 0) 5px solid;
    background-color: rgb(242, 255, 0);
  }